*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    padding: 30px;
    background: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%);
}

.grid-container{
    height: 80%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 20px;
}

.grid-container > .box{
    background: linear-gradient(109.6deg, rgb(41, 125, 182) 3.6%, rgb(77, 58, 151) 51%, rgb(103, 55, 115) 92.9%);
    border: 1px solid white;
    color: white;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .grid-container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 0.5fr 1fr 1fr;
    }

    #section1{
        grid-column: 1 / 4;
    }

    #section2{
        grid-area: 2 / 1 / 4 / 2;
    }

    #section3{
        grid-column: 2 / 4;
    }
    
}
